[Unit]
Description=ResiotGateway

[Service]
WorkingDirectory=/opt/resiotgateway/bin/
ExecStart=/opt/resiotgateway/bin/start.sh
SyslogIdentifier=resiotgateway
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target